body {
  background-color: #eeeded;
  font-family: Roboto, sans-serif;
}

header {
  background-image: url('../po.png');
  margin: 0;
  background-color: #ab3124;
  height: 224px;
  text-align: center;
  background-position: center top 0px;
  background-size: 344px;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Luckiest Guy", sans-serif;
  font-size: 3em;
  font-weight: 200;
  padding-top: 150px;
  margin: 0;
  color: #fff07a;
  text-shadow: 3px 3px 0px #5f233f;
}

.question {
  height: 48px;
  background-color: #d69830;
}

.question-content {
  margin: 0;
  padding-top: 12px;
  text-align: center;
  font-size: 1.25em;
}

.answers-feedback {
  padding: 36px 0;;
  text-align: center;
  font-size: 1.25em;
}

.answers {
  margin: auto;
  width: 390px;
  padding: 1px 32px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.answers-content {
  font-size: 1.3em;
}

.answers-content li {
  list-style-type: upper-alpha;
  margin: 35px 0;
  padding-left: 26px;
  color: #000;
}

.answers-content.active li {
  color: lightgrey;
}

.answers-content.active .selected {
  color: #ab3124;
}

.answers-content.active .selected > i.fa-check {
  visibility: visible;
}

li:hover {
  color: #ab3124;
  cursor: pointer;
}

i.fa-check {
  float: right; 
  visibility: hidden;
  color: #ab3124;
}

li:hover > i.fa-check {
  visibility: visible;
}

.submit-answer {
  width: 150px;
  margin: auto;
  margin-top: 40px;
  padding: 8px 14px;
  text-align: center;
  font-weight: 800;
  font-family: Arial;
  font-size: 1.2em;
  color: #fff07a;
  background: #ab3124;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 4px 0px #5f233f;
  -webkit-border-radius: 3;
     -moz-border-radius: 3;
}

