body {
  background-color: #eeeded;
  font-family: Roboto, sans-serif;
}

header {
  margin: 0;
  background-color: #ab3124;
  height: 224px;
  text-align: center;
  /* box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); */
}

/* Question mark icon */
.fa-question {
  color: #fff07a;
  font-size: 8em;
  padding-top: 10px;
  padding-bottom: 15px;
}

h1 {
  font-family: "Luckiest Guy", sans-serif;
  font-weight: 200;
  margin: 0;
  color: #fff07a;
}

.question {
  height: 48px;
  background-color: #d69830;
}

.question-content {
  margin: 0;
  padding-top: 12px;
  text-align: center;
  font-size: 1.25em;
}

.answers {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: auto;
  margin-top: 60px;
  width: 390px;
  padding: 8px 28px;
}

.answers-content {
  font-size: 1.3em;
}

.answers-content li {
  list-style-type: upper-alpha;
  margin: 35px 0;
  padding-left: 26px;
  color: #686868;
}

li:hover {
  color: #000;
  margin-left: 2px;
  cursor: pointer;
}

li > i {
  float: right; 
}

