@media only screen and (max-width: 500px) {
  .masthead {
    padding: 3em 0;
  }
  .masthead-heading {
    font-size: 3em;
  }
}

.masthead-heading,
.masthead-intro,
.content-footer {
    text-align: center;
}

.masthead {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 6em 0;
    background-image: url('unsplash-bamboo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 1em #3d9996;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-family: "Gentium Book Basic", Georgia, serif;
}

.masthead-heading {
    margin-top: -0.2em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
}

.introduction-section,
.location-section,
.questions-section {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.social > li {
    display: inline-block;
}

.content-footer {
    margin-top: 5em;
    margin-bottom: -8px;
    margin-left: -8px;
    margin-right: -8px;
    padding: 1em;
    background-color: #f5ffe5;
}

body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.introduction > p,
.location > p,
.content-footer > p {
    /* Typography Declarations */
    font-weight: 300;
    letter-spacing: 0.05em;
}

.questions-section > h2 {
    /* Typography Declarations */
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size 1.2em;
    font-weight: bold;
    /* Layout */
    margin: 2em 0 1em 0;
}

section > h1 {
    margin-top: 2em;
}
