/* http://colorhunt.co/#d9dad7c24d2c3e4a611a2639
  #d9dad7 Light Gray
  #c24d2c Red Orange
  #3e4a61 Medium Gray
  #1a2639 Dark Gray
  #fff07a Light Yellow

  #607d8b
  #455a64
*/

body {
  color: #3e4a61;
  font-family: Roboto, sans-serif;
  background-color: #eeeded;
}

.hidden {
  display: none;
}

/*
  Header
*/
header {
  margin: 0;
  height: 90px;
  text-align: center;
  background-color: #c24d2c;
  background-position: center top 0px;
  background-size: 344px;
  background-repeat: no-repeat;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}

h1 {
  margin: 0;
  padding-top: 10px;
  font-family: "Fugaz One", sans-serif;
  font-size: 3em;
  font-weight: 200;
  color: #d9dad7;
  text-shadow: 2px 3px 0px #3e4a61;
}

.container {
  margin: auto;
  width: 760px;
  padding-top: 15px;
}

/*
 * All sections
 */
section {
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

section .header {
  margin-top: 10px;
  padding-left: 16px;
  text-align: center;
  color: #c24d2c;
  font-weight: 400;
}

/*
 * Dashboard
 */
.chart-line {
  width: 760px;
  height: 300px;
}

section.funds, section.exchange {
  width: 375px;
  height: 130px;
  padding: 24px 0;
}

section.funds {
  float: left;
}

section.exchange {
  float: right;
}


.info-header,
.info-body,
.info-amount,
.info-amount-usd, .info-amount-btc {
  margin: 0;
  padding: 0;
}

.info-header {
  text-align: center;
  color: #c24d2c;
  font-weight: 400;
}

.info-body {
  padding-top: 25px;
  color: #455a64;
  font-weight: bold;
  font-size: 2.0em;
}

.info-amount {
  width: 275px;
  margin: auto;
  text-align: right;
  border-right: 5px solid #d9dad7;
  padding-right: 25px;
}

.info-exchange {
  margin-top: 15px;
  text-align: center;
  color: #3e4a61;
}

/*
  Log Transaction
*/
section.log {
  padding-top: 5px;
  padding-bottom: 40px;
  clear: both;
}

.log-inputs {
  margin: 0 15px;
}
.log-input {
  border: none;
  border-bottom: 2px solid #d4d4d4;
  background-color: transparent;
}

.log-input:focus {
  outline: 0;
  border-bottom: 2px solid #3e4a61;
}

.log-date {
  width: 90px;
}

.log-description {
  width: 360px;
}

.log-currency {
  width: 80px;
}

.log-button {
  float: right;
  width: 96px;
  padding: 2px 0;
  text-align: center;
  font-weight: 800;
  font-size: 1.2em;
  color: #d9dad7;
  background: #c24d2c;
  border-radius: 3px;
  -webkit-border-radius: 3;
     -moz-border-radius: 3;
  box-shadow: 0px 4px 0px #d9dad7;
  cursor: pointer;
}

.log-button:hover {
  text-shadow: 1px 1px 0px #3e4a61;
  box-shadow: 0px 4px 0px #3e4a61;
}

/*
  Transaction History
*/
section.history {
  padding: 10px 0;
}

table {
  width: 100%;
  margin-bottom: 15px;
}

th, td {
  padding: 12px;
}

th {
  text-align: left;
  font-weight: 400;
  color: #1a2639;
  border-bottom: 1px solid #1a2639;
}

td {
  border-top: 1px solid #d9dad7;
}

th:first-child, td:first-child {
  padding-left: 40px;
}

td:last-child {
  padding-right: 40px;
}
